* {
    box-sizing: border-box;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 100%;
  background-color: #979797;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 21.6px;
  }

.content-section {
  margin: auto;
  box-sizing: border-box;
  width: 360px;
}

.content-section_theme_dark {
  margin: auto;
  background-color: #131313;
  color: #F5F5F5;
}

.content-section_theme_bright {
  margin: auto;
  background-color: #FEE42A;
  color: #131313;
}

.header {
  padding: 24px 20px;
  background-color: #131313;
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  width: 80px;
  height: 15.74px;
  flex-shrink: 0;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}


.header__menu-item_active {
  line-height: 19px;  
  text-decoration-line: none;
}

.header__menu-item {
  color: #F5F5F5;
  line-height: 19px;
}


.cover {
  padding: 6px 24px 0px 20px;
  background-image: url('../images/cover.svg');
  background-size: 94% auto;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.accent-span {
  display: block;
  color: #FFF;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  display: flex;
  padding: 34px 20px 37px 20px;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}

.intro__date {
  white-space: nowrap;
}

.intro__title {
  color: #CCC;
  line-height: 120%;
  display: flex;
  gap: 16;
  justify-content: space-between;
  align-items: flex-start;
}

.reasons {
  display: flex;
  padding: 40px 20px 40px 20px;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
}

.reasons-title {
  display: block;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.reasons-description {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-section__list-item {
  font-weight: 400;
  letter-spacing: -0.008rem;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  display: flex;
  padding: 40px 20px 60px 20px;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10%;
}

.card__author-photo {
  width: 100px;
  height: 100px;
}

.card__author-name {
  font-weight: 700;
  line-height: 133%;
}

.card__title {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 135%;
}

.card__description {
  letter-spacing: 0.002rem;
}

.card_theme_dark {
  background: #343434;
}

.card_theme_bright {
  background: #FEE42A;
  color: #131313;
}

.footer {
  background-color: #131313;
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #FEE42A;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  font-size: 14px;
}